{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<SCRIPT> 
	function confirmar() { 
		if(!confirm("¿Deseas eliminar el Tipo de Item?")) { 
			return false; //no se borra 
		} 
		else { 
			return true;//si se borra  
		} 
	} 
</SCRIPT> 
	
<h1>Tipo Item</h1>
<form id=buscartipoItem method=get action="/tipoItem/buscartipoItem">
			<input type="text" name="patron" /> 
			<select name=parametro>
				<option value="codigo">Codigo</option>
				<option value="nombre">Nombre</option>
				<option value="descripcion">Descripción</option>				
				<option value="id_fase">Fase</option>
			</select> 
			<input type=submit name="Buscar" value=Buscar /> 			
		<a href="{{ url_for('nuevotipoItem') }}" ><img src="../static/images/a.png" alt="Agregar" height="30" width="30" title="Agregar" ></a>
</form>
<p></p>
{% with errors = get_flashed_messages(category_filter=["info"]) %}
{% if errors %}
<div class="block-message">
  <a class="close" href="{{ url_for( 'administrartipoItem' ) }}" dir="rtl">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
<table border="1">
	<TR>
		<TH class="c1"></TH>
		<TH class="c3">Codigo</TH>
		<TH class="c4">Nombre</TH>
		<TH class="c5">Descripción</TH>		
		<TH class="c6">Fase</TH>
	</TR>
	{% for tipoItem in tipoItems %}
	<TR>
		<TD class="c1"><a href="{{ url_for('editartipoItem', codigo=tipoItem.codigo , fase= tipoItem.id_fase, id= tipoItem.id) }}" > <img src="../static/images/e.png" alt="Editar" height="20" width="20" title="Editar" style="vertical-align: middle;"></a>
		<a href="{{ url_for('eliminartipoItem', cod=tipoItem.codigo) }}" onclick="javascript:return confirmar()"><img src="../static/images/b.png" alt="Eliminar" height="20" width="20" title="Eliminar" style="vertical-align: middle;"> </a></TD>
		<TD class="c3"><SPAN>{{tipoItem.codigo|e}}</SPAN></TD>
		<TD class="c4"><SPAN>{{tipoItem.nombre|e}}</SPAN></TD>
		<TD class="c5"><SPAN>{{tipoItem.descripcion|e}}</SPAN></TD>
		<TD class="c6"><SPAN>{{tipoItem.fase.nombre|e}} </SPAN></TD>
	</TR>
	{% else %}
  	<TR>
		<em>Sin registro de Tipo Item</em>
	</TR>
	{% endfor %}
</table>
</div>
</div>
{% endblock %}
