{% extends "principal.html" %} 
{% block content %}
<div class="primary">


	<h1>Modificar Tipo Item</h1>
	{% with errors = get_flashed_messages(category_filter=["error"]) %} {%
		if errors %}
			<div class="block-message">
				<a class="close" href="{{ url_for( 'editartipoItem' ) }}"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
	{% endwith %}
	
	<form id=editartipoItem method=post action="/tipoItem/editartipoItem">
			<label>Codigo</label><input type="text" name="codigo" value="{{ form.codigo.data }}" id="codigo" readonly="true" />
    		<label>Nombre</label>{{ form.nombre() }}
    		<label>Descripción</label> {{ form.descripcion() }}
    		<label>Fase</label><input type="text" name="id_fase" value="{{ form.id_fase.data }} " id="id_fase" readonly="true"/>
    		<label>Atributos</label> {{ form.lista_atributo() }}
	<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrartipoItem' ) }}';"> 
	</form>
</div>
{% endblock %}

