{% extends "principal.html" %} 
{% block content %}
<div class="primary">
	<h1>Agregar Tipo Item</h1>
	{% with errors = get_flashed_messages(category_filter=["error"]) %} 
		{% if errors %}
			<div class="block-message">
				<a class="close" href="{{ url_for( 'nuevotipoItem' ) }}"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
	{% endwith %}
	<form id=nuevotipoItem method=post action="/tipoItem/nuevotipoItem">
			<label>Codigo</label> {{ form.codigo()}}
    		<label>Nombre</label>  {{ form.nombre()}}
    		<label>Descripción</label> {{ form.descripcion() }}    		
    		<label>Fase</label> {{ form.id_fase() }}
    		<label>Atributos</label> {{ form.lista_atributo() }}
    		
    	<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="javascript:history.back()"> 
	</form>
</div>
{% endblock %}