{% extends "base.html" %} 
{% block content %}
<div class="primary">
<h1>Roles</h1>
<form id=buscar method=get action="/buscar">
		<input type="text" name= "patron" />
		<input type=submit name= "Buscar" value=Buscar />
</form>
<table>
	<TR>
		<TH class="c3"><a href="{{ url_for('add') }}">Nuevo</a></TH>
		<TH class="c4"><a href="{{ url_for('editar') }}">Editar</a></TH>
		<TH class="c5"><a href="{{ url_for('eliminar') }}">Eliminar</a></TH>
	</TR>
</table>
<p></p>
<table border="1">
	<TR>
		<TH class="c3"></TH>
		<TH class="c3">Id</TH>
		<TH class="c4">Codigo</TH>
		<TH class="c5">Descripcion</TH>
	</TR>
	{% for rol in roles %}
	<TR>
		<TH class="c4"><a href="{{ url_for('editar', rol = rol) }}"><img src="/home/lila/Descargas/e.jepg" alt="Editar" border="0" height="10" width="10"></a></TH>
		<TD class="c3"><SPAN>{{rol.id|e}}</SPAN></TD>
		<TD class="c4"><SPAN>{{rol.codigo|e}}</SPAN></TD>
		<TD class="c5"><SPAN>{{rol.descripcion|e}}</SPAN></TD>
	</TR>
	{% else %}
  	<TR>
    	<li><em>roles no encontrados</em></li>
	</TR>
	{% endfor %}
</table>
 </div>
{% endblock %}
