<form id=add method=post action="/add">
  <dl>
    <div>{{ form.codigo.label }}: {{ form.codigo()}}</div>
    <div>{{ form.descripcion.label }}: {{ form.descripcion() }}</div>
  </dl>
  <p><input type=submit value=Guardar>
</form>
<form id=editar method=post action="/editar">
  <dl>
    <div disable = true>{{ form.codigo.label }}: {{ form.codigo()}}</div>
    <div>{{ form.descripcion.label }}: {{ form.descripcion() }}</div>
  </dl>
  <p><input type=submit value=Guardar>
</form>
<form id=eliminar method=post action="/eliminar">
  <dl>
    <div>{{ form.codigo.label }}: {{ form.codigo()}}</div>
    <div>{{ form.descripcion.label }}: {{ form.descripcion() }}</div>
  </dl>
  <p><input type=submit value=Aceptar>
</form>