{% extends "principal.html" %} 
{% block content %}
<div class="primary">
	<h1>Agregar Tipo Atributo</h1>
	{% with errors = get_flashed_messages(category_filter=["error"]) %} 
			{% if errors %}
			<div class="block-message">
				<a class="close" href="#"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
	{% endwith %}
	<form id=nuevotipoAtributo method=post action="/tipoAtributo/nuevotipoAtributo">
    		<label>Nombre</label> {{ form.nombre() }}
    		<label>Descripción</label> {{ form.descripcion() }}
    	<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrartipoAtributo' ) }}';"> 
	</form>
</div>
{% endblock %}