{% extends "principal.html" %} 
{% block content %}
<div style="text-align: right;">
<a href="javascript:history.go(-1)">Volver</a>
</div>
<div class="primary">
	<h1>Modificar Permiso</h1>
	{% with errors = get_flashed_messages(category_filter=["error"]) %} {%
		if errors %}
			<div class="block-message">
				<a class="close" href="#"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
	{% endwith %}
	<form id=editarpermiso method=post action="/permiso/editarpermiso">
    		{{ form.codigo.label }} <input type ="text" name="codigo" value="{{ form.codigo.data }}" readonly="true" />
    		{{ form.descripcion.label }} {{ form.descripcion() }}
    		{{ form.id_recurso.label }} {{ form.id_recurso() }}
  		<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrarpermiso' ) }}';"> 
	</form>
</div>
{% endblock %}