{% extends "principal.html" %} 
{% block content %}
<div class="primary">
	<h1>Agregar Permiso</h1>
	<form id=nuevopermiso method=post action="/permiso/nuevopermiso">
    	{{ form.codigo.label }} {{ form.codigo() }}
    	{{ form.descripcion.label }} {{ form.descripcion() }}
    	{{ form.id_fase.label }} {{ form.id_fase() }}
  		<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrarpermiso' ) }}';">
	</form>
</div>
{% endblock %}