{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<SCRIPT> 
	function confirmar() { 
		if(!confirm("¿Deseas eliminar este usuario?")) { 
			return false; //no se borra 
		} 
		else { 
			return true;//si se borra  
		} 
	} 
</SCRIPT> 
	
<h1>Usuario</h1>
<form id=buscar method=get action="/usuario/buscarusuario">
			<input type="text" name="patron" /> 
			<select name=parametro>
				<option value="usuario">Usuario</option>
				<option value="nombre">Nombre</option>
				<option value="apellido">Apellido</option>
				<option value="correo">Correo</option>
				<option value="domicilio">Domicilio</option>
				<option value="telefono">Teléfono</option>
				<option value="fecha_nac">Fecha Nacimiento</option>
			</select> 
			<input type=submit name="Buscar" value=Buscar /> 			
		<a href="{{ url_for('nuevousuario') }}" ><img src="../static/images/a.png" alt="Agregar" height="30" width="30" title="Agregar" ></a>
</form>
<p></p>
{% with errors = get_flashed_messages(category_filter=["info"]) %}
{% if errors %}
<div class="block-message">
  <a class="close" href="{{ url_for( 'administrarusuario' ) }}" dir="rtl">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
<div style="height:250px;width:820px;overflow:auto;">
<table border="1">
	<TR>
		<TH class="c1"></TH>
		<TH class="c3">Usuario</TH>
		<TH class="c3">Nombre</TH>
		<TH class="c4">Apellido</TH>
		<TH class="c5">Correo</TH>
		<TH class="c2">Domicilio</TH>
		<TH class="c6">Teléfono</TH>
		<TH class="c7">Fecha Nacimiento</TH>
	</TR>
	{% for usuario in usuarios %}
	<TR>
		<TD class="c1" width="100">
		<a href="{{ url_for('editarusuario', usu=usuario.usuario) }}" ><img src="../static/images/e.png" alt="Editar" height="20" width="20" title="Editar" style="vertical-align: middle;"></a>
		<a href="{{ url_for('eliminarusuario', usu=usuario.usuario) }}" onclick="javascript:return confirmar()"><img src="../static/images/b.png" alt="Eliminar" height="20" width="20" title="Eliminar" style="vertical-align: middle;"> </a>
		<a href="{{ url_for('asignarrolesusuario', usu=usuario.id) }}" >Asignar roles</a>
		</TD>
		<TD class="c3"><SPAN>{{usuario.usuario|e}}</SPAN></TD>
		<TD class="c3"><SPAN>{{usuario.nombre|e}}</SPAN></TD>
		<TD class="c4"><SPAN>{{usuario.apellido|e}}</SPAN></TD>
		<TD class="c5"><SPAN>{{usuario.correo|e}}</SPAN></TD>
		<TD class="c2"><SPAN>{{usuario.domicilio|e}}</SPAN></TD>
		<TD class="c6"><SPAN>{{usuario.telefono|e}}</SPAN></TD>
		<TD class="c7"><SPAN>{{usuario.fecha_nac|e}}</SPAN></TD>
	</TR>
	{% else %}
  	<TR>
		<em>Sin registro de usuarios</em>
	</TR>
	{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}
