{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<SCRIPT> 
	function update_roles(idrol) { 
		{{ set rol = asignados|selectattr("id", idrol) }}
		{% if (rol|length) > 0 %}
		
		{% endif %}
	} 
</SCRIPT> 
<h1>Roles</h1>
<form id=buscar method=get action="/buscar">
	<input type="text" name="patron" /> 
		<select name=parametro>
			<option value="codigo">Código</option>
			<option value="descripcion">Descripción</option>
		</select> 
	<input type=submit name="Buscar" value=Buscar /> 
</form>
<p></p>
{% with errors = get_flashed_messages(category_filter=["info"]) %}
{% if errors %}
<div class="block-message">
  <a class="close" href="{{ url_for( 'administrarrol' ) }}" dir="rtl">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
<div style="height:350px;width:700px;overflow:auto;">
<table border="1">
	<TR>
		<TH class="c3"></TH>
		<TH class="c3">Código</TH>
		<TH class="c3">Descripción</TH>
	</TR>
	{% for rol in roles %}
	<TR>
		{% if (asignados|length) > 0 %}
			{% set exists = [] %}
			{% for asig in asignados %}
				{% if rol.id == asig.id_rol %}
					{% do exists.append(1) %}
						<TD class="c4"> <input type="checkbox" name="roles" value="{{ rol.id }}" checked="checked" disabled="disabled"/> </TD>
				{% endif %}
			{% endfor %}
			{% if not exists %}
				<TD class="c4"> <input type="checkbox" name="roles" value="{{ rol.id }}"/> </TD>
			{% endif %}
		{% else %}
			<TD class="c4"> <input type="checkbox" name="roles" value="{{ rol.id }}"/> </TD>
		{% endif %}
		<TD class="c4"><SPAN>{{rol.codigo|e}}</SPAN></TD>
		<TD class="c4"><SPAN>{{rol.descripcion|e}}</SPAN></TD>
	</TR>
	{% else %}
  	<TR>
		<em>Sin registro de roles</em>
	</TR>
	{% endfor %}
</table>
</div>
<input type=submit name="Asignar Roles" value="Asignar Roles" />
	<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrarusuario' ) }}';"> 
</div>
</div>
{% endblock %}
