{% extends "principal.html" %} 
{% block content %}
<div style="text-align: right;">
<a href="javascript:history.go(-1)">Volver</a>
</div>
<div class="primary">
	<h1>Editar Solicitud de Cambio</h1>
	{% with errors = get_flashed_messages(category_filter=["error"]) %} 
			{% if errors %}
			<div class="block-message">
				<a class="close" href="#"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
	{% endwith %}
	<form id=asignar method=post action="/solicitud/editarsolicitud">
	<label>Ítems en la Solicitud de Cambios:</label>
	<div style="height:250px;width:500px;overflow:auto;">
	<table id="tablaitems" border="1">
		<TR>
			<TH class="c2">Fase</TH>
			<TH class="c2">Código</TH>
			<TH class="c3">Nombre</TH>	
			<TH class="c4">Descripción</TH>
			<TH class="c5">Compl</TH>
			<TH class="c5">Costo</TH>
		</TR>
		{% for item in items %}
			<TR>
				<TD class="c2"><SPAN>{{item.itemfase.descripcion|e}}</SPAN></TD>
				<TD class="c2"><SPAN>{{item.codigo|e}}</SPAN></TD>
				<TD class="c3"><SPAN>{{item.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.descripcion|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.complejidad|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.costo|e}}</SPAN></TD>
			</TR>
		{% else %}
			<TR>
				<em>No cuenta con Ítems que pueden ser agregados a la Solicitud de Cambios.</em>
			</TR>
		{% endfor %}
	</table>
	</div>
			<input type="text" name="id" value="{{ form.id.data }}" id="id" readonly="true" hidden="true"/>
			<label>Descripción</label><input type="text" name="descripcion" value="{{ form.descripcion.data }}" id="descripcion" readonly="true"/>
  			<label>Fecha</label><input type="date" name="fecha" value="{{ form.fecha.data }}" id="fecha" readonly="true"/>
    		<label>Estado</label><input type="text" name="estado" value="{{ form.estado.data }}" id="estado" readonly="true"/>
    		<label>Usuario</label><input type="text" name="id_usuario" value="{{ form.id_usuario.data }}" id="id_usuario" readonly="true"/>
    		<label>Proyecto</label><input type="text" name="id_proyecto" value="{{ form.id_proyecto.data }}" id="id_proyecto" readonly="true"/>
    		<label>Votos</label><input type="text" name="cant_votos" value="{{ form.cant_votos.data }}" id="cant_votos" readonly="true"/>
    		<label>Votos de la Solicitud de Cambios:</label>
	<div style="height:100px;width:200px;overflow:auto;">
	<table id="tablares" border="1">
		<TR>
			<TH class="c2">Miembro</TH>
			<TH class="c2">Voto</TH>
		</TR>
		{% for re in res %}
			<TR>
				<TD class="c2"><SPAN>{{re.resmieusuario.usuario|e}}</SPAN></TD>
				<TD class="c2"><SPAN>{{'Aprobar' if re.voto else 'No Aprobar' |e}}</SPAN></TD>
			</TR>
		{% else %}
			<TR>
				<em>La Solicitud de Cambios No cuenta con Votos.</em>
			</TR>
		{% endfor %}
	</table>
	</div>
  		<p><input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrarsolicitud' ) }}';"> 
	</form>
</div>
{% endblock %}