{% extends "principal.html" %} 
{% block content %}
<div class="primary">
	<h1>Agregar Relación</h1>
	<br>Seleccionar item:
	</br>
	<table id="tablanuevarelacion" border="1">
		<TR>
			<TH class="c3"></TH>
			<TH class="c3">Item código</TH>
			<TH class="c3">Item nombre</TH>
			<TH class="c3">Item descripción</TH>
			<TH class="c3">Usuario del item</TH>
			<TH class="c3">Fase</TH>
			<TH class="c3">Tipo item</TH>
		</TR>
		{% for item in items %}
			<TR>
				<TD class="c4" width="200"><a href="{{ url_for('nuevarelacion', id_item=item.id) }}">Seleccionar</a></TD>
				<TD class="c4"><SPAN>{{item.codigo|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.descripcion|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.usuario|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.fase.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.tipo_item.nombre|e}}</SPAN></TD>
			</TR> 
		{% else %}
			<TR>
				<em><b>Sin registro de items</b></em>
			</TR>
		{% endfor %}
	</table>
</div>
{% endblock %}