{% extends "principal.html" %} 
{% block content %}
  <div class="primary">

	{#  {% if 'username' in session %} #} 
	{% if current_user.is_authenticated() %}
		<!--<p> Bienvenido {{session['username']}}!</p> -->
		<p> Bienvenido {{ current_user.getUserName() }}!</p>
		{% if 'is_solicitud' in session %}
			{% if session['is_solicitud'] %}
			<p style="background:#E9EAEB;"> Posee Solicitudes de Cambio por Votar!</p>
			{% endif %}
		{% endif %}
	{% else %}		
		<form action="{{ url_for('index') }}" method="post" >
			<p>Usuario: <br/>
			<input type="text" name= "username" /></p>
			<p>Contraseña: <br/>
			<input type="password" name= 'passwd' ></p>
			<p><input type="submit" value="Entrar" /> </p> 		
		</form>
	{% endif %}
	{% with messages = get_flashed_messages() %}
		{% for message in messages %}
			{{message}}
	    {% endfor %}
	 {% endwith %}
	 {% with permisos = get_flashed_messages(category_filter=["permiso"]) %}
		{% if permisos %}
	<div class="block-message">
  		<a class="close" href="{{ url_for( 'index' ) }}" dir="rtl">×</a>
 		<ul>
    		{%- for msg in permisos %}
    		<li>{{ msg }}</li>
    		{% endfor -%}
		</ul>
	</div>
		{% endif %}
	{% endwith %}
	
</div>
{% endblock %}
