{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<SCRIPT> 
	function confirmar() { 
			if(!confirm("¿Deseas eliminar este Item?")) { 
				return false; //no se borra 
			} 
			else { 
				return true;//si se borra  
			}
	} 
</SCRIPT> 
	
<h1>Item</h1>		
<form id=buscartipoItem method=get action="/item/buscarItem">
			<input type="text" name="patron" /> 
			<select name=parametro>
				<option value="codigo">Codigo</option>
				<option value="nombre">Nombre</option>
				<option value="descripcion">Descripción</option>	
				<option value="estado">Estado</option>			
				<option value="id_fase">Fase</option>
				<option value="id_tipo_item">Tipo</option>
			</select> 
			<input type=submit name="Buscar" value=Buscar /> 			
		<a href="{{ url_for('listafase') }}" ><img src="../static/images/a.png" alt="Agregar" height="30" width="30" title="Agregar" ></a>
		<a href="{{ url_for('listarreviviritem') }}" ><img src="../static/images/i.png" alt="Revivir" height="30" width="30" title="Revivir" ></a>
</form>
<p></p>
{% with errors = get_flashed_messages(category_filter=["info"]) %}
{% if errors %}
<div class="block-message">
  <a class="close" href="{{ url_for( 'administraritem' ) }}" dir="rtl">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
<div style="height:350px;width:850px;overflow:auto;">
<table border="1">
	<TR>
		<TH class="c1"></TH>
		<TH class="c2">Codigo</TH>
		<TH class="c3">Nombre</TH>
		<TH class="c4">Descripción</TH>
		<TH class="c5">Estado</TH>
		<TH class="c6">Fecha </TH>
		<TH class="c7">Complejidad</TH>
		<TH class="c8">Costo</TH>
		<TH class="c9">Version</TH>
		<TH class="c10">Fase</TH>
		<TH class="c11">Tipo</TH>
	</TR>
	{% for item in items %}
	<TR>
		<TD class="c1"><a href="{{ url_for('editaritem', codigo=item.codigo , fase=item.id_fase, id=item.id, tipo=item.id_tipo_item, es=item.estado ) }}" > <img src="../static/images/e.png" alt="Editar" height="20" width="20" title="Editar" style="vertical-align: middle;"></a>
		<a href="{{ url_for('eliminaritem', cod=item.codigo, id=item.id, es=item.estado, tipo=item.id_tipo_item ) }}" onclick="javascript:return confirmar()"><img src="../static/images/b.png" alt="Eliminar" height="20" width="20" title="Eliminar" style="vertical-align: middle;"> </a>
		<a href="{{ url_for('listarreversionitem', cod=item.codigo, id=item.id ) }}" ><img src="../static/images/r.png" alt="Reversion" height="20" width="20" title="Reversion" style="vertical-align: middle;"> </a> </TD>
		<TD class="c2"><SPAN>{{item.codigo|e}}</SPAN></TD>
		<TD class="c3"><SPAN>{{item.nombre|e}}</SPAN></TD>
		<TD class="c4"><SPAN>{{item.descripcion|e}}</SPAN></TD>
		<TD class="c5"><SPAN>{{'Abierto' if item.estado=='I' else 'En Progreso' if item.estado=='P' 
					else 'Resuelto' if item.estado=='R' else 'Aprobado' if item.estado=='A' else 'Eliminado' if item.estado=='E'
					else 'Rechazado' if item.estado=='Z' else 'Revision' if item.estado=='V' else 'Bloqueado' if item.estado=='B' }}</SPAN></TD>
		<TD class="c6"><SPAN>{{item.fecha|e}}</SPAN></TD>
		<TD class="c7"><SPAN>{{item.complejidad|e}}</SPAN></TD>
		<TD class="c8"><SPAN>{{item.costo|e}}</SPAN></TD>
		<TD class="c9"><SPAN>{{item.version|e}}</SPAN></TD>
		<TD class="c10"><SPAN>{{item.itemfase.nombre|e}}</SPAN></TD>
		<TD class="c11"><SPAN>{{item.itemtipo_item.nombre|e}}</SPAN></TD>
	</TR>
	{% else %}
  	<TR>
		<em>Sin registro de Items</em>
	</TR>
	{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}
