{% extends "principal.html" %} 
{% block content %}
<div style="text-align: right;">
<a href="javascript:history.go(-1)">Volver</a>
</div>
<div class="primary">
	<h1>Reporte de Historial de Items</h1>
	{% with errors = get_flashed_messages(category_filter=["error"]) %} 
			{% if errors %}
			<div class="block-message">
				<a class="close" href="#"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
	{% endwith %}
 	<form target="_blank" id=reporte method=post action="/solicitud/reportehistorial">
 		<label>Seleccione un Ítem:</label>
	<div style="height:250px;width:500px;overflow:auto;">
	<table id="tablaitems" border="1">
		<TR>
			<TH class="c1"></TH>
			<TH class="c2">Fase</TH>
			<TH class="c2">Código</TH>
			<TH class="c3">Nombre</TH>	
			<TH class="c4">Descripción</TH>
			<TH class="c5">Compl</TH>
			<TH class="c5">Costo</TH>
		</TR>
		{% for item in items %}
			<TR>
				<TD class="c1"> <input type="checkbox" name="selectitem" value="{{ item.id }}"/> </TD>	
				<TD class="c2"><SPAN>{{item.itemfase.descripcion|e}}</SPAN></TD>
				<TD class="c2"><SPAN>{{item.codigo|e}}</SPAN></TD>
				<TD class="c3"><SPAN>{{item.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.descripcion|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.complejidad|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.costo|e}}</SPAN></TD>
			</TR>
		{% else %}
			<TR>
				<em>No cuenta con registros de Ítems.</em>
			</TR>
		{% endfor %}
	</table>
	</div>
		<p><input type=submit value=Imprimir onclick="document.location.reload();">
    	<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrarreportes' ) }}';"> 
	</form>
</div>
{% endblock %}