{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<h1>Calculo Impacto</h1>
{% with errors = get_flashed_messages(category_filter=["info"]) %}
{% if errors %}
<div class="block-message">
  <a class="close" href="{{ url_for( 'administrarrol' ) }}" dir="rtl">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
<div style="text-align: right;">
<a href="javascript:history.go(-1)">Volver</a>
</div>
<h4>Calculo Impacto: Camino general</h4>
<div style="height:250px;width:700px;overflow:auto;">
<table border="1">
	<TR>
		<TH class="c4">Código item</TH>
		<TH class="c4">Nombre item</TH>
		<TH class="c5">Impacto</TH>
	</TR>
	{% set fila = 0 %}
	{% set can = caminogeneral|length %}
	{% for item in caminogeneral %}
	<TR>
		<TD class="c4">
		<SPAN>
			<em>{{ item.codigo }}</em>
			{% set fila = fila + 1 %}
		</SPAN>
		</TD>
		<TD class="c4">
		<SPAN>
			<em>{{ item.nombre }}</em>
		</SPAN>
		</TD>
		{% if fila == 1 %}
		<TD rowspan="{{ can }}" class="c4">{{ impactoTotal }}</TD>
		{% endif %}
	</TR>
	
	{% endfor %}
</table>
</div>
<h4>Calculo Impacto: Caminos individuales</h4>
<div style="height:300px;width:700px;overflow:auto;">
<table border="1">
	<TR>
		<TH class="c4">Código item</TH>
		<TH class="c4">Nombre item</TH>
		<TH class="c5">Impacto</TH>
	</TR>
	{% set posicion = 0 %}
	{% for camino in caminos %}
		{% set fila = 0 %}
		{% set can = camino|length %}
		{% for item in camino %}
	<TR>
		<TD class="c4">
		<SPAN>
			<em>{{ item.codigo }}</em>
			{% set fila = fila + 1 %}
		</SPAN>
		</TD>
		<TD class="c4">
		<SPAN>
			<em>{{ item.nombre }}</em>
		</SPAN>
		</TD>
			{% if fila == 1 %}
		<TD rowspan="{{ can }}" class="c4">{{ caminoimpacto[posicion] }}</TD>
			{% endif %}
	</TR>
		{% endfor %}
		{% set posicion = posicion + 1 %}
	{% endfor %}
</table>
</div>
<div style="text-align: right;">
<a href="javascript:history.go(-1)">Volver</a>
</div>
</div>
</div>
{% endblock %}
