{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<div style="text-align: right;">
<a href="{{ url_for('index') }}">Salir</a>
</div>		
<h1>Reportes</h1>
	<table border="0">
	{% if 'permiso_lider' in session %}
		{% if( session['permiso_lider'].can() ) %}		
	<TR>
		<TD class="c1"><a href="{{ url_for('reportesol') }}" >Solicitudes de Cambio</a></TD>
	</TR>
		{% endif %}
	{% endif %}
	<TR>
		<TD class="c1"><a href="{{ url_for('reportelista') }}" >Lista de Ítems</a></TD>
	</TR>
	<TR>
		<TD class="c1"><a href="{{ url_for('reportehistorial') }}" >Historial de Ítem</a></TD>
	</TR>
</table>
</div>
</div>
{% endblock %}