{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<div style="text-align: right;">
<a href="{{ url_for('index') }}">Salir</a>
</div>		
<h1>Reportes</h1>
	{% with errors = get_flashed_messages(category_filter=["info"]) %} 
			{% if errors %}
			<div class="block-message">
				<a class="close" href="#"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
	{% endwith %}
	{% if 'permiso_lider' in session %}
		{% if( session['permiso_lider'].can() ) %}		
		<ul><li><a href="{{ url_for('reportesol') }}" >Solicitudes de Cambio</a></li>
		{% endif %}
	{% endif %}
		<li><a href="{{ url_for('reportelista') }}" >Lista de Ítems</a></li>
		<li><a href="{{ url_for('reportehistorial') }}" >Historial de Ítem</a></li></ul>
</div>
</div>
{% endblock %}