{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<SCRIPT> 
	function confirmar() { 
		if(!confirm("¿Deseas eliminar esta fase ?")) { 
			return false; //no se borra 
		} 
		else { 
			return true;//si se borra  
		} 
	} 
</SCRIPT> 
	
<h1>Fases</h1>
<form id=buscar method=get action="/fase/buscarfase">
			<input type="text" name="patron" /> 
			<select name=parametro>
				<option value="nro_orden">Número</option>
				<option value="nombre">Nombre</option>
				<option value="descripcion">Descripción</option>
				<option value="estado">Estado</option>
				<option value="fecha_inicio">Fecha Inicio</option>
				<option value="fecha_fin">Fecha Fin</option>
			</select> 
			<input type=submit name="Buscar" value=Buscar /> 			
		<a href="{{ url_for('nuevafase') }}" ><img src="../static/images/a.png" alt="Agregar" height="30" width="30" title="Agregar" ></a>
		<a href="{{ url_for('listarfase') }}" ><img src="../static/images/i.png" alt="Importar" height="30" width="30" title="Importar" ></a>
</form>
<p></p>
{% with errors = get_flashed_messages(category_filter=["info"]) %}
{% if errors %}
<div class="block-message">
  <a class="close" href="{{ url_for( 'administrarfase' ) }}" dir="rtl">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
<div style="height:250px;width:800px;overflow:auto;">
<table border="1">
	<TR>
		<TH class="c1"></TH>
		<TH class="c2">Número</TH>
		<TH class="c3">Nombre</TH>
		<TH class="c4">Descripción</TH>
		<TH class="c5">Estado</TH>
		<TH class="c6">Fecha Inicio</TH>
		<TH class="c7">Fecha Fin</TH>
		<TH class="c8">Proyecto</TH>
	</TR>
	{% for fase in fases %}
	<TR>
		<TD class="c1"><a href="{{ url_for('editarfase', nro=fase.nro_orden) }}" ><img src="../static/images/e.png" alt="Editar" height="20" width="20" title="Editar" style="vertical-align: middle;"></a>
		<a href="{{ url_for('eliminarfase', nro=fase.nro_orden) }}" onclick="javascript:return confirmar()"><img src="../static/images/b.png" alt="Eliminar" height="20" width="20" title="Eliminar" style="vertical-align: middle;"> </a></TD>
		<TD class="c2"><SPAN>{{fase.nro_orden|e}}</SPAN></TD>
		<TD class="c3"><SPAN>{{fase.nombre|e}}</SPAN></TD>
		<TD class="c4"><SPAN>{{fase.descripcion|e}}</SPAN></TD>
		<TD class="c5"><SPAN>{{fase.estado|e}}</SPAN></TD>
		<TD class="c6"><SPAN>{{fase.fecha_inicio|e}}</SPAN></TD>
		<TD class="c7"><SPAN>{{fase.fecha_fin|e}}</SPAN></TD>
		<TD class="c8"><SPAN>{{fase.proyecto.nombre|e}}</SPAN></TD>
	</TR>
	{% else %}
  	<TR>
		<em>Sin registro de fases</em>
	</TR>
	{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}
