{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<SCRIPT> 
	function confirmar() { 
		if(!confirm("¿Deseas eliminar esta proyecto?")) { 
			return false; //no se borra 
		} 
		else { 
			return true;//si se borra  
		} 
	} 
</SCRIPT> 
	
<h1>Proyecto</h1>
<form id=buscar method=get action="/proyecto/buscarproyecto">
			<input type="text" name="patron" /> 
			<select name=parametro>
				<option value="nombre">Nombre</option>
				<option value="descripcion">Descripción</option>
				<option value="estado">Estado</option>
				<option value="cant_miembros">Cantidad Miembros</option>
				<option value="fecha_inicio">Fecha Inicio</option>
				<option value="fecha_fin">Fecha Fin</option>
				<option value="fecha_ultima_mod">Fecha Ult Mod</option>
				<option value="id_usuario_lider">Líder Proyecto</option>
			</select> 
			<input type=submit name="Buscar" value=Buscar /> 			
		<a href="{{ url_for('nuevoproyecto') }}" ><img src="../static/images/a.png" alt="Agregar" height="30" width="30" title="Agregar" ></a>
</form>
<p></p>
{% with errors = get_flashed_messages(category_filter=["info"]) %}
{% if errors %}
<div class="block-message">
  <a class="close" href="{{ url_for( 'administrarproyecto' ) }}" dir="rtl">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
<table border="1">
	<TR>
		<TH class="c1"></TH>
		<TH class="c3">Nombre</TH>
		<TH class="c4">Descripción</TH>
		<TH class="c5">Estado</TH>
		<TH class="c2">Cant Miembros</TH>
		<TH class="c6">Fecha Inicio</TH>
		<TH class="c7">Fecha Fin</TH>
		<TH class="c8">Fecha Ult Mod</TH>
		<TH class="c8">Líder de Proyecto</TH>
	</TR>
	{% for proyecto in proyectos %}
	<TR>
		<TD class="c1" width="100"><a href="{{ url_for('editarproyecto', nom=proyecto.nombre, des=proyecto.descripcion, 
		es=proyecto.estado, cant=proyecto.cant_miembros, ini=proyecto.fecha_inicio, fin=proyecto.fecha_fin, 
		mod=proyecto.fecha_ultima_mod, li=proyecto.id_usuario_lider) }}" ><img src="../static/images/e.png" alt="Editar" height="20" width="20" title="Editar" style="vertical-align: middle;"></a>
		<a href="{{ url_for('eliminarproyecto', nom=proyecto.nombre) }}" onclick="javascript:return confirmar()"><img src="../static/images/b.png" alt="Eliminar" height="20" width="20" title="Eliminar" style="vertical-align: middle;"> </a></TD>
		<TD class="c3"><SPAN>{{proyecto.nombre|e}}</SPAN></TD>
		<TD class="c4"><SPAN>{{proyecto.descripcion|e}}</SPAN></TD>
		<TD class="c5"><SPAN>{{proyecto.estado|e}}</SPAN></TD>
		<TD class="c2"><SPAN>{{proyecto.cant_miembros|e}}</SPAN></TD>
		<TD class="c6"><SPAN>{{proyecto.fecha_inicio|e}}</SPAN></TD>
		<TD class="c7"><SPAN>{{proyecto.fecha_fin|e}}</SPAN></TD>
		<TD class="c7"><SPAN>{{proyecto.fecha_ultima_mod|e}}</SPAN></TD>
		<TD class="c8"><SPAN>{{proyecto.usuario.nombre|e}} {{proyecto.usuario.apellido|e}}</SPAN></TD>
	</TR>
	{% else %}
  	<TR>
		<em>Sin registro de proyectos</em>
	</TR>
	{% endfor %}
</table>
</div>
</div>
{% endblock %}
