{% extends "principal.html" %} 
{% block content %}
<div class="primary">
	<h1>Agregar Proyecto</h1>
	<form id=nuevoproyecto method=post action="/proyecto/nuevoproyecto">
    		<label>Nombre</label> {{ form.nombre()}}
    		<label>Descripción</label> {{ form.descripcion() }}
    		<label>Estado</label> {{ form.estado() }}
    		<label>Cant Miembros</label> {{ form.cant_miembros()}}
    		<label>Fecha Inicio</label> <input type="date" name="fecha_inicio" id="fecha_inicio"/>
    		<label>Fecha Fin</label> <input type="date" name="fecha_fin" id="fecha_fin"/>
    		<label>Fecha Ult Mod</label> <input type="date" name="fecha_ulima_mod" id="fecha_ulima_mod"/>
    		<label>Líder de Proyecto</label> {{ form.usuario_lider() }}
    	<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="javascript:history.back()"> 
	</form>
</div>
{% endblock %}