{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >

<h1>Linea Base</h1>		
<form id=buscarlineabase method=get action="/lineaBase/buscarlineabase">
			<input type="text" name="patron" /> 
			<select name=parametro>
				<option value="descripcion">Descripción</option>				
				<option value="estado">Estado</option>
			</select> 
			<input type=submit name="Buscar" value=Buscar /> 			
		<a href="{{ url_for('listafaselb') }}" ><img src="../static/images/a.png" alt="Agregar" height="30" width="30" title="Agregar" ></a>
</form>
<p></p>
{% with errors = get_flashed_messages(category_filter=["info"]) %}
{% if errors %}
<div class="block-message">
  <a class="close" href="{{ url_for( 'administrarlineabase' ) }}" dir="rtl">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
<div style="height:350px;width:850px;overflow:auto;">
<table border="1">
	<TR>
		<TH class="c1"></TH>
		<TH class="c2">Descripción</TH>
		<TH class="c3">Estado</TH>
		<TH class="c4">Fecha Creación</TH>
		<TH class="c5">Fecha Ruptura</TH>
	</TR>
	{% for lin in lineas %}
	<TR>
		<TD class="c1"><a href="{{ url_for('editarlineabase', id_linea= lin.id, estado_linea=lin.estado, fecha_crea= lin.fecha_creacion) }}" > <img src="../static/images/ver.png" alt="Ver" height="20" width="20" title="Visualizar" style="vertical-align: middle;"></a>
		{% if lin.estado != 'L' %}
		<a href="{{ url_for('liberarlineabase', id_linea= lin.id , fecha_crea= lin.fecha_creacion ) }}" onclick="javascript:return confirmar()" ><img src="../static/images/lib.png" alt="Liberar Linea Base" height="20" width="20" title="Liberar Linea Base" style="vertical-align: middle;"> </a> 
		{% else %}
		<a href="{{ url_for('componerlineabase', id_linea= lin.id , fecha_crea= lin.fecha_creacion ) }}" onclick="javascript:return confirmar()" ><img src="../static/images/comp.png" alt="Componer Linea Base" height="20" width="20" title="Componer Linea Base" style="vertical-align: middle;"> </a> 
		{% endif %}
		<a href="{{ url_for('agregaritem', id_linea = lin.id ) }}"><img src="../static/images/mas.png" alt="Agregar Items" height="20" width="20" title="Agregar Items" style="vertical-align: middle;"></a>
		<a href="{{ url_for('quitaritem', id_linea = lin.id ) }}"><img src="../static/images/menos.png" alt="Quitar Items" height="20" width="20" title="Quitar Items" style="vertical-align: middle;"></a></TD>
		<TD class="c2"><SPAN>{{lin.descripcion|e}}</SPAN></TD>
		<TD class="c3"><SPAN>{{'Valido' if lin.estado=='V' else 'No Valido' if lin.estado=='N' 
		else 'Liberado' if lin.estado=='L' }}</SPAN></TD>
		<TD class="c4"><SPAN>{{lin.fecha_creacion|e}}</SPAN></TD>
		<TD class="c5"><SPAN>{{lin.fecha_ruptura|e}}</SPAN></TD>
	</TR>
	{% else %}
  	<TR>
		<em>Sin registro de Linea Base</em>
	</TR>
	{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}
