{% extends "principal.html" %} 
{% block content %}
<div style="text-align: right;">
<a href="javascript:history.go(-1)">Volver</a>
</div>
<div class="primary">
<div >
<h1>Componer Linea Base</h1>		
<p></p>
{% with errors = get_flashed_messages(category_filter=["error"]) %} 
		{% if errors %}
			<div class="block-message">
				<a class="close" href="{{ url_for( 'componerlineabase' ) }}"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
{% endwith %}


<form id=liberarlineabase method=post action="/lineaBase/componerlineabase">
	 <label>Items en Linea Base</label> 
  <div style="height:200px;width:400px;overflow:auto;">
	<table id="tablaitems" border="1">
		<TR>
			<TH class="c2">Codigo</TH>
			<TH class="c3">Nombre</TH>	
			<TH class="c4">Descripción</TH>
			<TH class="c5">Estado</TH>
			<TH class="c6">Fecha </TH>
			<TH class="c7">Complejidad</TH>
			<TH class="c8">Costo</TH>
			<TH class="c9">Version</TH>
			<TH class="c10">Fase</TH>
			<TH class="c11">Tipo</TH>
		</TR>
		{% for item in itemslb %}
			<TR>				
				<TD class="c2"><SPAN>{{item.codigo|e}}</SPAN></TD>
				<TD class="c3"><SPAN>{{item.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.descripcion|e}}</SPAN></TD>
				<TD class="c5"><SPAN>{{'Abierto' if item.estado=='I' else 'En Progreso' if item.estado=='P' 
					else 'Resuelto' if item.estado=='R' else 'Aprobado' if item.estado=='A' else 'Eliminado' if item.estado=='E'
					else 'Rechazado' if item.estado=='Z' else 'Revision' if item.estado=='V' else 'Bloqueado' if item.estado=='B' }}</SPAN></TD>
				<TD class="c6"><SPAN>{{item.fecha|e}}</SPAN></TD>
				<TD class="c7"><SPAN>{{item.complejidad|e}}</SPAN></TD>
				<TD class="c8"><SPAN>{{item.costo|e}}</SPAN></TD>
				<TD class="c9"><SPAN>{{item.version|e}}</SPAN></TD>
				<TD class="c10"><SPAN>{{item.itemfase.nombre|e}}</SPAN></TD>
				<TD class="c11"><SPAN>{{item.itemtipo_item.nombre|e}}</SPAN></TD>
			</TR>
		{% else %}
  	<TR>
		<em>Debe aprobar los Items, para poder componer la Linea Base</em>
		
	</TR>
	{% endfor %}
	</table>
 </div>
    <p></p>	<p></p><p></p>
    <input type="text" name="id" value="{{ form.id.data }}" id="descripcion" hidden="true"/>
    <label>Descripción</label> <input type="text" name="descripcion" value="{{ form.descripcion.data }}" id="descripcion" readonly="true"/>
 	<label>Estado</label><input type="text" name="estado" value="{{'Valido' if form.estado.data=='V' else 'No Valido' if form.estado.data=='N' 
		else 'Liberado' if form.estado.data=='L' }}" id="estado" readonly="true"/> 
 	<label>Fecha Creacion </label> <input type="date" name="fecha" value="{{form.fecha_creacion.data}}"  id="fecha" readonly="true"/>

    	<p>
    		<input type=submit value=Componer >
  		<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrarlineabase' ) }}';">
</form>

</div>
</div>
{% endblock %}
