{% extends "principal.html" %} 
{% block content %}

<div class="primary">
<div >

<SCRIPT> 
function selectMultiple()
{	
	var selectItem = document.getElementsByTagName('select');
	
	for(i = 0; i < selectItem.length; i++)
	{
		if(selectItem[i].multiple)
		{
			selectItem[i].style.display = 'none';
			selectItem[i].style.visibility = 'hidden';
			
			// Creamos el elemento UL de la nueva lista y le aplicamos una clase
			var ulSelect = document.createElement("UL");
				ulSelect.className = "selectMultiple";
				
			// Aplicamos al "nuevo select" los estilos de posicion y tamaño que pudiera tener el original
			if(selectItem[i].style.width) ulSelect.style.width = selectItem[i].style.width;
			if(selectItem[i].style.height) ulSelect.style.height = selectItem[i].style.height;
			if(selectItem[i].style.position) ulSelect.style.position = selectItem[i].style.position;
			if(selectItem[i].style.left) ulSelect.style.left = selectItem[i].style.left;
			if(selectItem[i].style.top) ulSelect.style.top = selectItem[i].style.top;
			if(selectItem[i].style.right) ulSelect.style.right = selectItem[i].style.right;
			if(selectItem[i].style.bottom) ulSelect.style.bottom = selectItem[i].style.bottom;
			
			// Buscamos los value del SelectBox
			liEls = selectItem[i].getElementsByTagName("option");
			
			for(e = 0; e < liEls.length; e++)
			{
				// Creamos la lista
				liSelect = document.createElement("LI")
				
				// Comprobamos si el SelectBox original tiene algún option seleccionado
				if(liEls[e].selected == true)
				{
					liSelect.className = "selected";
				}
				
				// Creamos dos variables que nos muestre tanto el estado de selección del elemento como la posición que ocupa
				liSelect.selected	= liEls[e].selected;
				liSelect.selectC	= liEls[e];
				liSelect.e			= e;
				liSelect.i			= i;
				
				// Creamos el texto para la lista
				textLi = document.createTextNode(liEls[e].text);
				
				// Acoplamos ese texto a cada lista
				liSelect.appendChild(textLi);
				
				// Incluimos el evento que nos permite marcar y desmarcar el elemento seleccionado
				liSelect.onclick = function(e,i)
									{
										if(this.className && this.className == "selected")
										{
											// Eliminamos la clase, no sin antes aplicar la regla según el navegador >:-(
											if (navigator.appName == 'Microsoft Internet Explorer')
											{
												this.removeAttribute("className");
											} else {
												this.removeAttribute("class");
											}
											
											// Deseleccionamos el elemento original
											selectItem[this.i].getElementsByTagName("option")[this.e].selected = false;
										} else {
											this.className = "selected";
											// Seleccionamos el elemento original
											selectItem[this.i].getElementsByTagName("option")[this.e].selected = true;
										}
									}
				
				// Y acoplamos ese elemento al UL principal
				ulSelect.appendChild(liSelect);
			}	
			
			// Colocamos el nuevo SelectMultiple en el documento
			document.body.appendChild(ulSelect);
			
			// Y lo posicionamos justo antes del Select Original
			selectItem[i].parentNode.insertBefore(ulSelect,selectItem[i]);
		}
	}
}

// Esta función nos permite añadir una acción al evento onLoad
function addLoadEvent(func) 
{
	var oldonload = window.onload;
	if (typeof window.onload != 'function') 
		{
			window.onload = func;
		} else {
			window.onload = function() 
				{
					oldonload();
					func();
				}
		}
}

// Ejecutamos directamente la función SelectMultiple 
addLoadEvent(selectMultiple); 
</SCRIPT> 

<h1>Liberar Linea Base</h1>		
<p></p>
{% with errors = get_flashed_messages(category_filter=["error"]) %} 
		{% if errors %}
			<div class="block-message">
				<a class="close" href="{{ url_for( 'liberarlineabase' ) }}"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
{% endwith %}

<style type="text/css">  
  ul.selectMultiple {
	width: 200px;
	height: 150px;
	margin:0;
	padding:0;
	background: #fff;
	border: 1px solid #999;
	
	Zoutline: 1px solid #999999;
	
	overflow: auto;
}

	ul.selectMultiple li {
		padding:5px;
		font-family: verdana;
		font-size: 11px;
		font-color: #000;
		list-style: none;
		border-bottom: 1px solid #eee;
		cursor: pointer;
	}
	ul.selectMultiple li.selected {
		background: #999;
		color: #fff;
		border-bottom: 1px dotted #888;
	}
</style> 
<form id=liberarlineabase method=post action="/lineaBase/liberarlineabase">
	<label >Items en la Linea Base: </label>
	
		<select name="itemenlb" multiple="multiple"  style="height: 200px; width: 150px">
			{% for itemlb in itemslb %}
			<option disabled > {{itemlb.codigo|e}}  {{itemlb.nombre|e}}</option>
			 {% endfor %}
		</select>		
    
    <p></p>	<p></p><p></p>
    <input type="text" name="id" value="{{ form.id.data }}" id="descripcion" hidden="true"/>
    <label>Descripción</label> <input type="text" name="descripcion" value="{{ form.descripcion.data }}" id="descripcion" readonly="true"/>
 	<label>Estado</label><input type="text" name="estado" value="{{ form.estado.data }}" id="estado" readonly="true"/> 
 	<label>Fecha Creacion </label> <input type="date" name="fecha" value="{{form.fecha_creacion.data}}"  id="fecha" readonly="true"/>

    	<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrarlineabase' ) }}';">
</form>

</div>
</div>
{% endblock %}
