{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<h1>Nueva Linea Base</h1>		
<p></p>
{% with errors = get_flashed_messages(category_filter=["info"]) %}
{% if errors %}
<div class="block-message">
  <a class="close" href="{{ url_for( 'listaitem' ) }}" dir="rtl">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
<em>Seleccione un Item:</em>
<div style="height:250px;width:800px;overflow:auto;">
<table border="1">
	<TR>
		<TH class="c1"></TH>
		<TH class="c2">Codigo</TH>
		<TH class="c3">Nombre</TH>
		<TH class="c4">Descripción</TH>
		<TH class="c5">Estado</TH>
		<TH class="c6">Fecha </TH>
		<TH class="c7">Complejidad</TH>
		<TH class="c8">Costo</TH>
		<TH class="c9">Version</TH>
		<TH class="c10">Fase</TH>
		<TH class="c11">Tipo</TH>
	</TR>
	{% for item in items %}
	<TR>
		<TD class="c1" width="200"><a href="{{ url_for('agregaritems', cod_item=item.codigo, id_item=item.id, estado_item= item.estado) }}">Agregar</a></TD>
		<TD class="c2"><SPAN>{{item.codigo|e}}</SPAN></TD>
		<TD class="c3"><SPAN>{{item.nombre|e}}</SPAN></TD>
		<TD class="c4"><SPAN>{{item.descripcion|e}}</SPAN></TD>
		<TD class="c5"><SPAN>{{item.estado|e}}</SPAN></TD>
		<TD class="c6"><SPAN>{{item.fecha|e}}</SPAN></TD>
		<TD class="c7"><SPAN>{{item.complejidad|e}}</SPAN></TD>
		<TD class="c8"><SPAN>{{item.costo|e}}</SPAN></TD>
		<TD class="c9"><SPAN>{{item.version|e}}</SPAN></TD>
		<TD class="c10"><SPAN>{{item.fase.nombre|e}}</SPAN></TD>
		<TD class="c11"><SPAN>{{item.tipo_item.nombre|e}}</SPAN></TD>
	</TR>
	{% else %}
  	<TR>
		<em>Sin registro de Items</em>
	</TR>
	{% endfor %}
</table>
<a href="{{ url_for('nuevalineabase') }}"> >>Confirmar Items seleccionados</a>
</div>
</div>
</div>
{% endblock %}
