{% extends "principal.html" %} 
{% block content %}
<div style="text-align: right;">
<a href="javascript:history.go(-1)">Volver</a>
</div>
<div class="primary">
<div >
<h1>Nueva Linea Base</h1>		
<p></p>
{% with errors = get_flashed_messages(category_filter=["error"]) %} 
		{% if errors %}
			<div class="block-message">
				<a class="close" href="{{ url_for( 'nuevalineabase' ) }}"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
{% endwith %}

<form id=nuevalineabase method=post action="/lineaBase/nuevalineabase">
	<label>Seleccione los items:</label>
	<table id="tablaitems" border="1">
		<TR>
			<TH class="c1"></TH>
			<TH class="c2">Codigo</TH>
			<TH class="c3">Nombre</TH>	
			<TH class="c4">Descripción</TH>
			<TH class="c5">Estado</TH>
		</TR>
		{% for item in items %}
			<TR>
				<TD class="c1"> <input type="checkbox" name="selectitem" value="{{ item.id }}"/> </TD>					
				<TD class="c2"><SPAN>{{item.codigo|e}}</SPAN></TD>
				<TD class="c3"><SPAN>{{item.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.descripcion|e}}</SPAN></TD>
				<TD class="c5"><SPAN>{{'Abierto' if item.estado=='I' else 'En Progreso' if item.estado=='P' 
					else 'Resuelto' if item.estado=='R' else 'Aprobado' if item.estado=='A' else 'Eliminado' if item.estado=='E'
					else 'Rechazado' if item.estado=='Z' else 'Revision' if item.estado=='V' else 'Bloqueado' if item.estado=='B' }}</SPAN></TD>
			</TR>
		{% else %}
			<TR>
				<em>La fase no cuenta con Items que pueden ser agregados.</em>
			</TR>
		{% endfor %}
	</table>

    <label>Descripción</label> {{ form.descripcion() }}
 	<label>Estado</label>{{ form.estado() }} 
 	<label>Fecha Creacion </label> <input type="date" name="fecha" value="{{form.fechaCreacion.data}}"  id="fecha" readonly="true"/>

    	<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrarlineabase' ) }}';">
</form>

</div>
</div>
{% endblock %}
