{% extends "principal.html" %} 
{% block content %}
<div class="primary">
	<h1>Importar Fase</h1>
	{% with errors = get_flashed_messages(category_filter=["error"]) %} 
			{% if errors %}
			<div class="block-message">
				<a class="close" href="#"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
	{% endwith %}
	<form id=importar method=post action="/fase/importarfase">
  			<label>Número</label> {{ form.nro_orden() }}
  			<label>Nombre</label> {{ form.nombre() }}
    		<label>Descripción</label> {{ form.descripcion() }}
    		<label>Estado</label> {{ form.estado() }}
    		<label>Fecha Inicio</label><input type="date" name="fecha_inicio" value="{{ form.fecha_inicio.data }}" id="fecha_inicio"/>
    		<label>Fecha Fin</label><input type="date" name="fecha_fin" value="{{ form.fecha_fin.data }}" id="fecha_fin"/>
    		<label>Proyecto</label><input type="text" name="id_proyecto" value="{{ form.id_proyecto.data }}" id="id_proyecto" readonly="true"/>
  		<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrarfase' ) }}';"> 
	</form>
</div>
{% endblock %}

