{% extends "principal.html" %} 
{% block content %}
<div class="primary">
	<h1>Modificar Rol</h1>
	{% with errors = get_flashed_messages(category_filter=["error"]) %} 
		{% if errors %}
		<div class="block-message">
			<a class="close" href="#" dir="rtl">×</a>
				<ul>
					{%- for msg in errors %}
						<li>{{ msg }}</li> {% endfor -%}
				</ul>
		</div>
		{% endif %} 
	{% endwith %}
	<form id=editar method=post action="/editar">
  			<label>Código</label><input type="text" name="codigo" value="{{ form.codigo.data }}" id="codigo" readonly="true"/>
  			<label>Descripción</label> {{ form.descripcion() }}
  		<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrarrol' ) }}';"> 
	</form>
</div>
{% endblock %}
