{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<SCRIPT> 
	function confirmar() { 
		if(!confirm("¿Deseas eliminar este cliente?")) { 
			return false; //no se borra 
		} 
		else { 
			return true;//si se borra  
		} 
	} 
</SCRIPT> 
	
<h1>Roles</h1>
<form id=buscar method=get action="/buscar">
		<input type="text" name= "patron" />
		<input type=submit name= "Buscar" value=Buscar />
		<a href="{{ url_for('add') }}" ><img src="../static/images/a.png" alt="Agregar" height="30" width="30" title="Agregar" ></a>
</form>
<p></p>
<table border="1">
	<TR>
		<TH class="c3"></TH>
		<TH class="c4">Código</TH>
		<TH class="c5">Descripción</TH>
	</TR>
	{% for rol in roles %}
	<TR>
		<TD class="c4"><a href="{{ url_for('editar', cod=rol.codigo, des=rol.descripcion) }}" ><img src="../static/images/e.png" alt="Editar" height="20" width="20" title="Editar" style="vertical-align: middle;"></a>
		<a href="{{ url_for('eliminar', cod=rol.codigo) }}" onclick="javascript:return confirmar()"><img src="../static/images/b.png" alt="Eliminar" height="20" width="20" title="Eliminar" style="vertical-align: middle;"> </a></TD>
		<TD class="c4"><SPAN>{{rol.codigo|e}}</SPAN></TD>
		<TD class="c5"><SPAN>{{rol.descripcion|e}}</SPAN></TD>
	</TR>
	{% else %}
  	<TR>
    	<script language="Javascript" type="text/javascript">
    		alert("No se encontraron Roles que coincidan con el texto introducido.");
		</script> 
	</TR>
	{% endfor %}
</table>
</div>
</div>
{% endblock %}
