{% extends "principal.html" %} 
{% block content %}
<div style="text-align: right;">
<a href="javascript:history.go(-1)">Volver</a>
</div>
<div class="primary">
	<h1>Agregar Atributo</h1>
	<form id=nuevoatributo method=post action="/atributo/nuevoatributo">
    		<label>Nombre</label> {{ form.nombre()}}
    		<label>Descripción</label> {{ form.descripcion() }}
    		<label>Tipo</label> {{ form.id_tipo_atributo() }}
    	<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="javascript:history.back()"> 
	</form>
</div>
{% endblock %}