{% extends "principal.html" %} 
{% block content %}
<div class="primary">
<div >
<SCRIPT> 
	function confirmar() { 
		if(!confirm("¿Deseas desasignar este Usuario del Proyecto ?")) { 
			return false; //no se borra 
		} 
		else { 
			return true;//si se borra  
		} 
	} 
</SCRIPT> 
	
<h1>Comité de Cambios</h1>
<form id=buscar method=get action="/miembrosComite/buscarmiembrosComite">
			<input type="text" name="patron" /> 
			<select name=parametro>
				<option value="usuario">Usuario</option>
				<option value="nombre">Nombre</option>
				<option value="apellido">Apellido</option>
			</select> 
			<input type=submit name="Buscar" value=Buscar /> 			
		<a href="{{ url_for('listarusuarios') }}" ><img src="../static/images/a.png" alt="Asignar" height="30" width="30" title="Asignar" ></a>
</form>
<p></p>
{% with errors = get_flashed_messages(category_filter=["info"]) %}
{% if errors %}
<div class="block-message">
  <a class="close" href="{{ url_for( 'administrarmiembrosComite' ) }}" dir="rtl">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
<div style="height:250px;width:350px;overflow:auto;">
<table border="1">
	<TR>
		<TH class="c1"></TH>
		<TH class="c2">Usuario</TH>
		<TH class="c3">Nombre</TH>
		<TH class="c4">Apellido</TH>
	</TR>
	{% for miembrosComite in miembrosComites %}
	<TR>
		<TD class="c1"><a href="{{ url_for('eliminarmiembrosComite', id_mc=miembrosComite.id, usu=miembrosComite.usuario.id) }}" onclick="javascript:return confirmar()"><img src="../static/images/b.png" alt="Desasignar" height="20" width="20" title="Desasignar" style="vertical-align: middle;"> </a></TD>
		<TD class="c2"><SPAN>{{miembrosComite.usuario.usuario|e}}</SPAN></TD>
		<TD class="c3"><SPAN>{{miembrosComite.usuario.nombre|e}}</SPAN></TD>
		<TD class="c4"><SPAN>{{miembrosComite.usuario.apellido|e}}</SPAN></TD>
	</TR>
	{% else %}
  	<TR>
		<em>Sin registro de Miembros Comité</em>
	</TR>
	{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}