{% extends "principal.html" %} 
{% block content %}
<div style="text-align: right;">
<a href="javascript:history.go(-1)">Volver</a>
</div>
<div class="primary">
	<h1>Agregar Relación</h1>
	<br><b>Paso 1: Seleccionar item hijo o sucesor</b></br>
<div style="height:420px;width:850px;overflow:auto;">
	<table id="tablanuevarelacion" border="1">
		<TR>
			<TH class="c3"></TH>
			<TH class="c3">Item código</TH>
			<TH class="c3">Item nombre</TH>
			<TH class="c3">Item descripción</TH>
			<TH class="c3">Usuario del item</TH>
			<TH class="c3">Fase del item</TH>
			<TH class="c3">Proyecto del item</TH>
			<TH class="c3">Tipo item</TH>
		</TR>
		{% for item in items %}
			<TR>
				<TD class="c4" width="200"><a href="{{ url_for('nuevarelacion', cod_item=item.id) }}">Seleccionar</a></TD>
				<TD class="c4"><SPAN>{{item.codigo|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.descripcion|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.itemusuario.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.itemfase.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.itemfase.faseproyecto.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.itemtipo_item.nombre|e}}</SPAN></TD>
			</TR> 
		{% else %}
			<TR>
				<em><b>Sin registro de items</b></em>
			</TR>
		{% endfor %}
	</table>
</div>
</div>
{% endblock %}