{% extends "principal.html" %} 
{% block content %}
<div class="primary">
	<h1>Agregar Relación</h1>
	{% if firstItem != None %}
		<br><b>Item seleccionado como hijo o sucesor:</b></br>
		<ul>
			<li><label>Código item: </label>{{ firstItem.codigo }}</li>
			<li><label>Nombre item: </label>{{ firstItem.nombre }}</li>
			<li><label>Fase: </label>{{ firstItem.fase.nombre }}</li>
			<li><label>Proyecto: </label>{{ firstItem.fase.proyecto.nombre }}</li>
		</ul>
		<b>Paso 2: Seleccionar item como padre o antecesor</b>
	{% endif %}
	<table id="tablanuevarelacion" border="1">
		<TR>
			<TH class="c3"></TH>
			<TH class="c3">Item código</TH>
			<TH class="c3">Item nombre</TH>
			<TH class="c3">Item descripción</TH>
			<TH class="c3">Usuario del item</TH>
			<TH class="c3">Fase del item</TH>
			<TH class="c3">Proyecto del item</TH>
			<TH class="c3">Tipo item</TH>
		</TR>
		{% for item in items %}
			<TR>
				<TD class="c4" width="200"><a href="{{ url_for('nuevarelacion', cod_item2=item.codigo) }}">Seleccionar</a></TD>
				<TD class="c4"><SPAN>{{item.codigo|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.descripcion|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.usuario.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.fase.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.fase.proyecto.nombre|e}}</SPAN></TD>
				<TD class="c4"><SPAN>{{item.tipo_item.nombre|e}}</SPAN></TD>
			</TR> 
		{% else %}
			<TR>
				<em><b>Sin registro de items</b></em>
			</TR>
		{% endfor %}
	</table>
</div>
{% endblock %}