{% extends "principal.html" %} 
{% block content %}
<div class="primary">
	<h1>Agregar Usuario</h1>
	{% with errors = get_flashed_messages(category_filter=["error"]) %} 
		{% if errors %}
			<div class="block-message">
				<a class="close" href="#"
					dir="rtl">×</a>
					<ul>
						{%- for msg in errors %}
							<li>{{ msg }}</li> {% endfor -%}
					</ul>
			</div>
		{% endif %} 
	{% endwith %}
	<form id=nuevousuario method=post action="/usuario/nuevousuario">
    		<label>Usuario</label> {{ form.usuario() }}
    		<label>Contraseña</label> {{ form.password() }}
    		<label>Nombre</label> {{ form.nombre() }}
    		<label>Apellido</label> {{ form.apellido() }} 
    		<label>Correo</label> {{ form.correo() }}
    		<label>Domicilio</label> {{ form.domicilio() }}
    		<label>Teléfono</label> {{ form.telefono() }}
    		<label>Fecha Nacimiento</label><input type="date" name="fecha_nac" value="{{ form.fecha_nac.data }}" id="fecha_nac"/>
    	<p><input type=submit value=Guardar>
  		<input type="button" value="Cancelar"  onClick="document.location.href='{{ url_for( 'administrarusuario' ) }}';"> 
	</form>
</div>
{% endblock %}